.task-form-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: calc(100vh - 50px);
  border-radius: 30px;

  form {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 3px 14px #000;
    
    .button {
      color: white;
      background-color: #64b3d9;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

