.login {
  margin-top: 10px;

  color: white;
}

.mytasks {
  display: flex;
  justify-content: left;
  align-items: left;
}

.userlogo {
  display: flex;
  align-items: center;
  border-radius: 200px;
}
