.login {
  margin-top: 10px;

  color: white;
}

.mytasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlogo {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}
