.user-login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 3px 14px #000;
  }
}

h2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
