.user-form-wrapper {
  display: flex;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;

  form {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
  }
}
